# Environment & Secrets
.env
*.env

# Python Virtual Environments
venv/
.venv/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# IDE & Editor files
.vscode/
.idea/

# Distribution / Packaging
build/
dist/
*.egg-info/

# Node.js
node_modules/